@import "../../base.scss";

.card {
    height: 14rem;
    width: 10rem;
    font-weight: bold;
    font-size: 4rem;
    box-sizing: border-box;
    padding: 0 0.4rem;
    margin: 0.5rem;
    border: 4px solid;
    border-radius: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    
    color: $off-white;
    border-color: $off-white;
}

@media screen and (max-width: 600px) {
    .card {
        height: 7rem;
        width: 5rem;
        font-size: 2rem;
        padding: 0 0.2rem;
        border: 2px solid;
        border-radius: 0.5rem;
    }
}