.card {
    height: 14rem;
    width: 10rem;
    font-weight: bold;
    font-size: 4rem;
    box-sizing: border-box;
    padding: 0 0.4rem;
    margin: 0.5rem;
    border: 2px solid;
    border-radius: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    
    &.red {
        color: red;
        border-color: red;
    }

    &.black {
        color: black;
        border-color: black;
    }
}